
.inputhouse{
  /* background-color: rgb(211, 13, 241); */
  background-color:rgb(227, 221, 227);
  font-size: 20px;
  /* font-weight: 600; */
  margin:30px;
  padding: 5px 10px;
  color: rgb(16, 16, 16);
  position: absolute;
  border-radius: 10px;
  top:  200px;
  /* color: rgb(111, 223, 6); */
}
