.banner{
  /* background-image: url(../images/banner.jpg); */
  height: 400px;
  display: flex;
  justify-content: center;
  
  align-items: center;
  border-radius: 20px;
  /* object-fit: contain; */

  /* background-repeat: no-repeat; */
  border: 3px solid rgb(247, 169, 2);
}
.heading{
  /* border: 3px solid rgb(214, 217, 209); */
  background-color: rgb(236, 232, 236);
  border: 3px solid rgb(247, 169, 2);
  height: 400px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
.boody{
  display: flex;
  align-items: center;
  margin-left: 24px;
  width: 90%;
  margin-top: 130px; 
  /* border: 3px solid rgb(247, 169, 2); */
  transform: translateX(3.5%);
}
.mainHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 100px;
  /* background-color: brown; */
  
}
.mainSubHeading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  margin: 30px;
 
  color: rgb(187, 8, 145);
  /* background-color: brown; */
}
.maincontainer{
  /* border: 3px solid rgb(247, 169, 2); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ; */
  width: 90%;
  margin-left:105px;
  row-gap: 20px;
  column-gap: 5px;
  margin-top: 20px;
  
 
}

