* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 20px;
  /* background-color: #282c34; */
  background-color: rgb(196, 224, 224);
}
.container {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items:center ; */
  background-color: rgb(89, 3, 100);
  width: 100%;
  /* width: 1366px; */
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.logocon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.logosr {
  width: 30px;
  background-color: aliceblue;
  cursor: pointer;
  border-radius: 50px;
}
.logo {
  font-weight: 600;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.logocon:hover {
  background-color: rgb(147, 110, 182);
  color: rgb(254, 253, 255);
  /* border-bottom: 2px solid white; */
  border-radius: 5px;
}
.nav {
  display: flex;
  padding: 10px 40px;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
}
.searchBar {
  width: 400px;
  height: 30px;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  padding: 15px 10px;
}
.searchBar::placeholder {
  /* padding: 10px 10px; */
  color: brown;
  /* margin: 10px; */
  /* background-color: aqua; */
}
.links {
  display: flex;
  font-size: 15px;
  font-weight: 600;
}
.link {
  margin: 10px;
  /* text-decoration: none; */
  list-style: none;
  cursor: pointer;
  padding: 8px;
  color: aliceblue;
}
.link a,
.logo a {
  color: aliceblue;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.link :hover {
  background-color: rgb(147, 110, 182);
  color: rgb(247, 246, 247);
}
.cart {
  /* background-color: rgb(251, 250, 252); */
  /* color: rgb(247, 246, 247); */
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* font-size: 20px; */
}
.cartNcounter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cartCounter {
  position: absolute;
  top: -3px;
  right: -20px;
  font-size: 18px;
  background-color: brown;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
